html
  head
    title= "Kenziegram"
    link(
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    )
  body(
      class="cyan lighten-4"
  )
    a(
        href=`/photos/${photo}`
        class="btn grey"
    )= 'Back'
    h1(
        class="card-panel flow-text"
    )= 'Comment Submitted'
    div(
        style="display: inline-block;"
    )
        p(
            class="card-panel lime lighten-3 flow-text"
            style="display: inline-block;"
        )= `${username}: `
        p(
            class="card-panel lighten-2 flow-text"
            style="padding-left: 30px; display: inline-block;"
        )= comment