html
  head
    title= "Kenziegram"
    link(
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    )
  body(
      class="cyan lighten-4"
  ) 
    if loggedIn
        a(
                id="sign"
                class="btn"
                href="/logout"
            )= "Log Out"
    else
        a(
                id="sign"
                class="btn"
                href="/login"
            )= "Sign In" 
        a(
                id="register"
                class="btn"
                href="/register"
            )= "Register"
    h1(
        style="font-size:7vw;"
        class="card-panel flow-text"
    )= 'Welcome to Kenziegram!'
    if loggedIn
        form(
            id="form"
            action="/uploads"
            method="POST"
            enctype="multipart/form-data"
        )
            div(
                class="file-field input-field"
            )
                div(
                    class="btn grey"
                )
                    span(
                        style="font-size:3vw;"
                    )= 'Upload Photo'
                    input(
                        id="image-input"
                        name="myImage"
                        type="file"
                    )
                div(
                    class="file-path-wrapper"
                )
                    input(
                        class="file-path validate"
                        type="text"
                    )

            button(
                type="submit"
                class="btn"
            )= "Submit"
        div(
            id="image-container"
        )
            each photo in photos
                a(href=`./photos/${photo}`)
                    img(
                        src=`./uploads/${photo}`
                        class="responsive-img"
                        style="margin-bottom: 20px; border: 5px solid black;"
                    )
    script
        include ../src/index.js
  