html
  head
    title= "Kenziegram"
    link(
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    )
  body(
      class="cyan lighten-4"
  )
    a(
        style="font-size:3vw;"
        href='../'
        class="btn grey"
    )= 'Back'
    h1(
        style="font-size:5vw;"
        class="card-panel flow-text"
    )= photo
    img(
        src=`../uploads/${photo}`
        class='responsive-img'
    )
    br
    div(
        style="display: inline-block;"
    )
        if comments
            each comment in comments
                p(
                    class="card-panel lime lighten-3 flow-text"
                    style="display: inline-block; font-size:5vw;"
                )= `${comment.username}:`
                p(
                    class="card-panel lighten-2 flow-text"
                    style="padding-left: 30px; display: inline-block; font-size:5vw;"
                )= comment.comment
                br
    form(
        id="form"
        action=`/comments/${photo}`
        method="POST"
    )
        icon(
            class="message material-icons prefix"
        )
        label(
            style="font-size:5vw;"
        )= "Comment: "
        input(
            style="font-size:5vw;"
            type="text"
            name="comment"
        )
        input(
            style="font-size:3vw;"
            type="submit"
            class="btn grey"
        )