html
  head
    title= "Kenziegram"
    link(
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    )
  body(
      class="cyan lighten-4"
  )
    a(
        href='http://localhost:3000'
        class="btn grey"
    )= 'Back'
    h1(
        class="card-panel flow-text"
    )= photo
    img(
        src=`../uploads/${photo}`
        class='responsive-img'
    )
    br
    div(
        style="display: inline-block;"
    )
        if comments
            each comment in comments
                p(
                    class="card-panel lime lighten-3 flow-text"
                    style="display: inline-block;"
                )= `${comment.username}:`
                p(
                    class="card-panel lighten-2 flow-text"
                    style="padding-left: 30px; display: inline-block;"
                )= comment.comment
                br
    form(
        id="form"
        action="/comments"
        method="POST"
    )
        input(
            style="display: none;"
            name="photo"
            value= photo
        )
        icon(
            class="person material-icons prefix"
        )
        label= "Username: "
        input(
            type="text"
            name="username"
        )
        icon(
            class="message material-icons prefix"
        )
        label= "Comment: "
        input(
            type="text"
            name="comment"
        )
        input(
            type="submit"
            class="btn grey"
        )